.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item > p {
  color: var(--co-primary-lighter);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
}
