.actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.data {
  margin-top: 30px;
  text-align: center;
}

.button {
  padding: 6px 12px !important;
  border-radius: 100px !important;
  background-color: var(--co-background-day-lighter);
  color: var(--co-background-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.button.isSelected {
  background-color: var(--co-primary-day-lighter);
  color: var(--co-light);
}
